{% extends "layout.html" %}

{% block body %}
    <div class="row" style="margin-top: 10px;">
        <div class="col-11 center-block">
            <div class="card text-center">

                <div class="card-header">
                    Create a booking
                </div>

                <div class=card-body">

                    <form method=post action="">
                        {{ form.hidden_tag() }}

                        <div class="form-group">
                            <label for="customer_dd">{{ form.customer.label }}</label>
                            {{ form.customer(class="dd", id="customer_dd") }}
                            {% for error in form.customer.errors %}
                                <span style="color:red">[{{ error }}]</span>
                            {% endfor %}
                        </div>

                        <div class="form-group">
                            {{ form.room.label }}
                            {{ form.room(class="dd") }}
                            {% for error in form.room.errors %}
                                <span style="color:red">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        {#                    TODO: improve form formatting#}
                        <div class="col mx-auto">
                            <div class="form-group ">

                                <div class="input-daterange input-group" id="datepicker ">

                                    {{ form.start_date(class="form-control", name="start") }}
                                    {#                                    {% for error in form.start_date.errors %}#}
                                    {#                                        <span style="color:red">[{{ error }}]</span>#}
                                    {#                                    {% endfor %}#}

                                    <div class="input-group-addon">to</div>

                                    {{ form.end_date(class="form-control", name="end") }}
                                    {#                                    {% for error in form.end_date.errors %}#}
                                    {#                                        <span style="color:red">[{{ error }}]</span>#}
                                    {#                                    {% endfor %}#}
                                </div>
                            </div>
                        </div>

                            <div class="form-group">
                                {% if error %}
                                    <span style="color:red">[{{ error }}]</span>
                                {% endif %}
                            </div>

                            <div class="row justify-content-center">
                                {{ form.submit(class="btn btn-success") }}
                            </div>
                    </form>

                    <button class="btn btn-secondary" onclick="window.location='{{ url_for('all_bookings') }}'" style="margin-top: 10px">Back to home</button>


                </div>

            </div>

        </div>
    </div>
    </div>
    <script>

        $(document).ready(function() {
            $('.dd').select2();
            $('.input-daterange').datepicker({
                format: "dd/mm/yyyy",
                todayHighlight: true,
                weekStart: 1
            });
        })

    </script>
{% endblock %}
