{% extends "layout.html" %}

{% block body %}
    <div class="row justify-content-center" style="margin-top: 10px;">
        <div class="col-11 center-block">
            <div class="card text-center">

                <div class="card-header">
                    Booking
                </div>
                <div class="card-body">
                    <table class="table table-hover table-bordered">
                        <th>Number
                        <th>Customer
                        <th>Room Number
                        <th>Check In
                        <th>Check Out
                            <tr>
                                <td>{{ booking.id }}
                                <td> <a href="{{ url_for('customer', url_name=booking.customer.url_name) }}">{{ booking.customer.name }}</a>
                                <td> <a href="{{ url_for('room', id=booking.room.id) }}">{{ booking.room.number }}</a>
                                <td>{{ flipDate(booking.start_date) }}
                                <td>{{ flipDate(booking.end_date) }}
                    </table>
                    <button class="btn btn-secondary mb-2" onclick="window.location='{{ url_for('change_book', id=booking.id) }}'">Modify this booking</button>

                </div>
                <form method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.bookingNumber.label }}
                        {{ form.bookingNumber(class="form-control") }}
                        {% for error in form.bookingNumber.errors %}
                            <span style="color: red;">[Please enter booking number to delete]</span>
                        {% endfor %}
                        {% if confirm == True %}
                            <span style="color:red;">[Please enter booking number to delete]</span>
                        {% endif %}
                    </div>

                        {{ form.submit(class="btn btn-warning") }}

                </form>


        </div>
    </div>
    </div>
{% endblock %}