{% extends "layout.html" %}

{% block body %}
    <div class="row justify-content-center" style="margin-top: 10px;">
        <div class="col-10">
            <div class="card text-center">

                <div class="card-header">
                    Booking
                </div>
                <div class="card-body">
                    <table class="table table-hover table-bordered">
                        <th>Id
                        <th>Customer
                        <th>Room Number
                        <th>Check In
                        <th>Check Out
                            <tr>
                                <td>{{ booking.id }}
                                <td> <a href="{{ url_for('customer', url_name=booking.customer.url_name) }}">{{ booking.customer.name }}</a>
                                <td> <a href="{{ url_for('room', id=booking.room.id) }}">{{ booking.room.number }}</a>
                                <td>{{ booking.start_date }}
                                <td>{{ booking.end_date }}
                    </table>
                </div>
                <div class="card-footer text-muted">
                    <form method="post">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.bookingNumber.label }}
                            {{ form.bookingNumber(class="form-control") }}
                            {% for error in form.bookingNumber.errors %}
                                <span style="color: red;">[Please enter booking number to delete]</span>
                            {% endfor %}
                            {% if confirm == True %}
                                <span style="color:red;">[Please enter booking number to delete]</span>
                            {% endif %}
                        </div>

                        <div class="form-group row">
                            <div class="m-*-auto">
                                {{ form.submit(class="btn btn-warning") }}
                            </div>
                        </div>

                    </form>



                </div>
            </div>
        </div>
    </div>
{% endblock %}