{% extends "layout.html" %}

{% block body %}
    <div class="row justify-content-center" style="margin-top: 10px;">
        <div class="col-10">
            <div class="card text-center">

                <div class="card-header">
                    {{ customer.name }}
                </div>
                <div class="card-body">
                    <table class="table table-hover table-bordered">
                        <th>Id
                        <th>Name
                        <th>Email
                        <th>Postcode
                            <tr>
                                <td>{{ customer.id }}
                                <td> {{ customer.name }}
                                <td>{{ customer.email }}
                                <td>{{ customer.postcode }}
                    </table>
                </div>
                <div class="card-footer text-muted">
                    <form method="post" action="">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.nameCheck.label }}
                            {{ form.nameCheck(class="form-control") }}
                            {% for error in form.nameCheck.errors %}
                                <span style="color: red;">[Please enter customer's name to delete]</span>
                            {% endfor %}
                            {% if confirm == True %}
                                <span style="color:red;">[Please enter customer's name to delete]</span>
                            {% endif %}
                        </div>

                        <div class="form-group">
                                {{ form.submit(class="btn btn-danger") }}
                        </div>

                    </form>
                </div>
            </div>

            <br>

            <div class="card text-center">
                <div class="card-header">
                    {{ customer.name }}'s Bookings
                </div>
                <div class="card-body">
                    <table class="table table-hover table-bordered">
                        <th>Ref. Number
                        <th>Room
                        <th>Arrival Date
                        <th>Departure date
                            {% for book in customer.bookings %}
                                <tr>
                                <td><a href="{{ url_for('booking', id=book.id) }}">{{ book.id }}</a>
                                <td> {{ book.room.number }}
                                <td>{{ flipDate(book.start_date) }}
                                <td>{{ flipDate(book.end_date) }}
                            {% endfor %}
                    </table>
                </div>
            </div>

        </div>
    </div>

{% endblock %}