{% extends "layout.html" %}

{% block body %}

    <a class="btn btn-large btn-primary" href="{{ url_for("index") }}">Index</a>
    <a class="btn btn-large btn-primary" href="{{ url_for("view_details") }}">User Details</a>
    <a class="btn btn-large btn-primary" href="{{ url_for("all_customers") }}">Customers</a>
    <a class="btn btn-large btn-primary" href="{{ url_for("view_rooms") }}">Rooms</a>
    <a class="btn btn-large btn-primary" href="{{ url_for("all_bookings") }}">Bookings</a>
    <a class="btn btn-large btn-primary" href="{{ url_for("week_book") }}">Weekly bookings</a>
    <a class="btn btn-large btn-primary" href="{{ url_for("new_booking") }}">New Booking</a>

{% endblock %}
