{% extends "layout.html" %}

{% block body %}
    <div id="main" class="row justify-content-center" style="margin-top: 10px;">
        <h2>All Bookings for: {{ date_list[0].strftime("%B %Y") }}</h2>

        <table class="table table-responsive table-hover table-bordered">
            <tr>

                <th class="first-col">#</th>
                {% for date in date_list %}
                    <th><div class="text-muted">{{ date.strftime("%a") }}</div><hr>{{ flipDate(date) }}</th>
                {% endfor %}

                {%- for room in rooms %}
                    <tr>
                    <td class="first-col">{{ room.number }}
                        {%- for date in date_list -%}
                            {% if room.check_booked(date)%}
                                <td class="table-primary"><a href="{{ url_for('booking', id=room.get_booking(date).id) }}">{{ room.get_booking(date).customer.name }}</a></td>

                            {% else %}
                                <td class="table-secondary">Available</td>
                            {% endif %}

                        {%- endfor -%}
                {%- endfor %}
        </table>

        <div class="btn-group btn-group-lg" role="group" aria-label="...">
            <button class="btn btn-outline-info mb-2" onclick="window.location='{{ url_for('month_book', link=prev) }}'" >Previous</button>
            <button class="btn btn-success mb-2" onclick="window.location='{{ url_for('new_booking') }}'">New booking</button>
            <button class="btn btn-outline-info mb-2"   onclick="window.location='{{ url_for('month_book', link=next) }}'">Next</button>

        </div>





    </div>
{% endblock %}