{% extends "layout.html" %}

{% block body %}
    <div class="row justify-content-center" style="margin-top: 10px;">
        <div class="col-10">
            <div class="card text-center">

                <div class="card-header">
                    Create a booking
                </div>

                <div class=card-body">

                    <form method=post action="">

                        <div class="form-group">
                            <label for="customer">Customer</label>
                            <select class="dd" id="customer" name="customer" style="width: 75%">

                                {% for customer in customers %}
                                    <option value={{customer.id}}>{{customer.name}}</option>
                                {% endfor %}
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="room">Room</label>
                            <select class="dd" id="room" name="room" style="width: 75%">

                                {% for room in rooms %}
                                    <option value={{ room.number }}>{{ room.number }}</option>
                                {% endfor %}
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="datepicker">Choose dates</label>
                            <div class="input-daterange input-group" id="datepicker">
                                <input type="text" class="input-sm form-control" name="start" value="{{ request.form.start }}"/>
                                <span class="input-group-addon">to</span>
                                <input type="text" class="input-sm form-control" name="end" value="{{ request.form.end }}"/>
                            </div>
                        </div>

                        <div class="row justify-content-center">

                            <button type="submit" class="btn btn-success" >Create Booking</button>
                        </div>


                    </form>
                    <button class="btn btn-secondary" onclick="window.location='{{ url_for('all_bookings') }}'" style="margin-top: 10px">Back to home</button>


                </div>

            </div>

        </div>
    </div>
    </div>
    <script>

        $(document).ready(function() {
            $('.dd').select2();
            $('.input-daterange').datepicker({
                format: "dd/mm/yyyy",
                todayHighlight: true
            });
        })

    </script>
{% endblock %}
