{% extends "layout.html" %}

{% block body %}
    <div class="row justify-content-center" style="margin-top: 10px;">
        <div class="col-10">
            <div class="card text-center">

                <div class="card-header">
                    Create a booking
                </div>

                <div class=card-body">

                    <form method=post action="">

                        <div class="form-group">
                            <label for="customer">Customer</label>
                            <select class="dd" id="customer" name="customer" style="width: auto" value="{{ customer[0] }}">

                                {% for customer in customers %}
                                <option value={{customer.id}}>{{customer.name}}</option>
                                {% endfor %}
                            </select>

                        </div>

                        <div class="row justify-content-center">

                                <button type="submit" class="btn btn-success" >Create Booking</button>
                            </div>
                    </form>
                        <button class="btn btn-secondary" onclick="window.location='{{ url_for('index') }}'" style="margin-top: 10px">Back to home</button>


                </div>

            </div>

        </div>
    </div>
    </div>
    <script>
    $(document).ready(function() {

    $('.dd').select2();

    })

</script>
{% endblock %}