{% extends "layout.html" %}

{% block body %}
    <div class="row justify-content-center" style="margin-top: 10px;">
        <div class="col-10">
            <div class="card text-center">

                <div class="card-header">
                    Room {{ room.number }}
                </div>
                <div class="card-body">
                    <table class="table table-hover table-bordered">
                        <th>Number
                        <th>Capacity
                            <tr>
                                <td>{{ room.number }}
                                <td> {{ room.capacity }}
                    </table>
                </div>
                <div class="card-footer text-muted">
                    <form method="post">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.roomNumber.label }}
                            {{ form.roomNumber(class="form-control") }}
                            {% for error in form.roomNumber.errors %}
                                <span style="color:red;">[Please enter room number to delete]</span>
                            {% endfor %}
                            {% if confirm == True %}
                                <span style="color: red;">[Please enter room number to delete]</span>
                            {% endif %}
                        </div>

                        <div class="form-group">

                            {{ form.submit(class="btn btn-danger") }}
                        </div>

                    </form>



                </div>
            </div>

            <br>

            <div class="card text-center">
                <div class="card-header">
                    Room {{ room.number }} Bookings
                </div>
                <div class="card-body">
                    <table class="table table-hover table-bordered">
                        <th>Ref. Number
                        <th>Customer
                        <th>Arrival Date
                        <th>Departure date
                            {% for book in room.bookings %}
                                <tr>
                                <td><a href="{{ url_for('booking', id=book.id) }}">{{ book.id }}</a>
                                <td><a href="{{ url_for('customer', url_name=book.customer.url_name) }}">{{ book.customer.name }}</a>
                                <td>{{ flipDate(book.start_date) }}
                                <td>{{ flipDate(book.end_date) }}
                            {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}